services:
  ## Makes sure that the media cache folder is created with the correct permissions
  photoview-prepare:
    image: kkoval/photoview:master
    hostname: photoview-prepare
    container_name: photoview-prepare
    network_mode: "none"
    user: root
    entrypoint: []
    command: /bin/bash -c "sleep 1 && chown -R photoview:photoview /home/photoview/media-cache /var/log/photoview"
    cap_add:
      - CHOWN
    volumes:
      - "/etc/localtime:/etc/localtime:ro" ## use local time from host
      - "/etc/timezone:/etc/timezone:ro" ## use timezone from host
      - "${HOST_PHOTOVIEW_LOCATION}/storage:/home/photoview/media-cache"
      ## If you mounted the Photoview access log in the main Photoview service, uncomment the next line
      # - "${HOST_PHOTOVIEW_LOCATION}/logs/api:/var/log/photoview"

  photoview:
    image: kkoval/photoview:master
    hostname: photoview
    container_name: photoview
    networks:
      - ui_net
      - api_db_net
    restart: unless-stopped
    stop_grace_period: 10s
    ## This ensures that DB is initialized and ready for connections.
    ## Comment out the entire `depends_on` section if PHOTOVIEW_DATABASE_DRIVER is set to `sqlite` in the .env
    depends_on:
      photoview-prepare:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    ## Security options for some restricted systems
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      PHOTOVIEW_DATABASE_DRIVER: ${PHOTOVIEW_DATABASE_DRIVER}
      ## Comment out the next line if PHOTOVIEW_DATABASE_DRIVER is set to `mysql` or `sqlite` in the .env
      PHOTOVIEW_POSTGRES_URL: postgres://${PGSQL_USER}:${PGSQL_PASSWORD}@photoview-pgsql:5432/${PGSQL_DATABASE}?sslmode=${PGSQL_SSL_MODE}
      ## Uncomment the next line if PHOTOVIEW_DATABASE_DRIVER is set to `sqlite` in the .env
      # PHOTOVIEW_SQLITE_PATH: ${PHOTOVIEW_SQLITE_PATH}
      ## We don't need Photoview to serve the UI in this setup, as it will be handled by the separate `photoview-ui` service
      PHOTOVIEW_SERVE_UI: "false"
      PHOTOVIEW_LISTEN_IP: "0.0.0.0"
      ## Optional: If you are using Samba/CIFS-Share and experience problems with "directory not found"
      ## Enable the following Godebug
      # GODEBUG: "asyncpreemptoff=1"
      ## Optional: To enable map related features, you need to create a mapbox token.
      ## A token can be generated for free here https://account.mapbox.com/access-tokens/
      ## It's a good idea to limit the scope of the token to your own domain, to prevent others from using it.
      MAPBOX_TOKEN: ${MAPBOX_TOKEN}
    volumes:
      ## Example:
      ## - "/host/folder:/container/folder"
      - "/etc/localtime:/etc/localtime:ro" ## use local time from host
      - "/etc/timezone:/etc/timezone:ro" ## use timezone from host
      ## Uncomment the next line if you want to access the Photoview access log on the host system
      # - "${HOST_PHOTOVIEW_LOCATION}/logs/api:/var/log/photoview"
      ## Uncomment the next line if PHOTOVIEW_DATABASE_DRIVER is set to `sqlite` in the .env
      # - "${HOST_PHOTOVIEW_LOCATION}/database:/home/photoview/database"
      - "${HOST_PHOTOVIEW_LOCATION}/storage:/home/photoview/media-cache"
      ## Change This in the .env file: to the directory where your photos are located on your server.
      ## You can mount multiple paths if your photos are spread across multiple directories.
      ## The same path as the container path set here, you'll need to provide on the Photoview's init page (the one between the ':' chars).
      ## If you mount several folders, provide the path to the parent one on the init page.
      ## If you mount several folders, make sure that there are no direct mappings to the media root folder.
      ## This means that you need to also modify the container path of the HOST_PHOTOVIEW_MEDIA_ROOT
      ## to something like '/photos/main'. Note that this new name ('main' in this example) will become an album in Photoview.
      - "${HOST_PHOTOVIEW_MEDIA_ROOT}:/photos:ro"
      ## *Additional* media folders can be mounted like this (set the variable in .env file)
      ## Note that a mount cannot be located in a subfolder of another mount.
      # - "${HOST_PHOTOVIEW_MEDIA_FAMILY}:/photos/Family:ro"

  ## Makes sure that UI folders on the host are created with the correct permissions
  photoview-ui-prepare:
    image: kkoval/photoview-ui:master
    hostname: photoview-ui-prepare
    container_name: photoview-ui-prepare
    network_mode: "none"
    user: root
    entrypoint: []
    command: /bin/bash -c "sleep 1 && chown -R caddyuser:caddyuser /var/log/caddy /etc/caddy"
    cap_add:
      - CHOWN
    volumes:
      - "/etc/localtime:/etc/localtime:ro" ## use local time from host
      - "/etc/timezone:/etc/timezone:ro" ## use timezone from host
      - "${HOST_PHOTOVIEW_LOCATION}/logs/ui:/var/log/caddy"
      - "${HOST_PHOTOVIEW_LOCATION}/ui:/etc/caddy"

  photoview-ui:
    image: kkoval/photoview-ui:master
    hostname: photoview-ui
    container_name: photoview-ui
    restart: unless-stopped
    stop_grace_period: 20s
    networks:
      - ui_net
    ports:
      ## It is recommended keeping the host ports the same as the container ports to let Caddy headers work correctly
      ## If the ports have to be changed, make sure to update the corresponding ports in the Caddyfile configuration
      - "8080:8080" ## HTTP port (host:container)
      - "8443:8443" ## HTTPS port (host:container)
    depends_on:
      photoview-ui-prepare:
        condition: service_completed_successfully
      photoview:
        condition: service_healthy
    ## Security options for some restricted systems
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    environment:
      ## The `HTTPS_PORT` must match the host HTTPS port defined in the `ports` section above
      HTTPS_PORT: 8443
      ## The `PHOTOVIEW_BACKEND_HOST` must match the `container_name` of the `photoview` service
      PHOTOVIEW_BACKEND_HOST: "photoview"
      ## The `PHOTOVIEW_BACKEND_PORT` must match the container port used by the `photoview` service
      PHOTOVIEW_BACKEND_PORT: 8080
      ## Read more about these options in the `.env` file. Uncomment if used.
      # UI_COOKIE_SECURE: ${UI_COOKIE_SECURE}
      # UI_COOKIE_DOMAIN: ${UI_COOKIE_DOMAIN}
    volumes:
      ## Example:
      ## - "/host/folder:/container/folder"
      - "/etc/localtime:/etc/localtime:ro" ## use local time from host
      - "/etc/timezone:/etc/timezone:ro" ## use timezone from host
      - "${HOST_PHOTOVIEW_LOCATION}/logs/ui:/var/log/caddy"
      - "${HOST_PHOTOVIEW_LOCATION}/ui/file:/etc/caddy"
      - "${HOST_PHOTOVIEW_LOCATION}/ui/data:/data"
      - "${HOST_PHOTOVIEW_LOCATION}/ui/config:/config"

  ## Uncomment the `postgres-autoupgrade` service if you want to upgrade PostgreSQL automatically, or follow the
  ## official PostgreSQL upgrade guide https://www.postgresql.org/docs/current/upgrading.html manually.
  ## Don't forget to uncomment the 3 `depends_on` lines in the `postgres` service.
  ## This service will upgrade the PostgreSQL database to the version, specified in the `image` tag.
  ## Read more on the https://hub.docker.com/r/pgautoupgrade/pgautoupgrade
  ## Tip: Back up the Photoview data before autoupgrade to a new PostgreSQL version.
  ## It is an optional service to simplify the upgrade process. You can also upgrade PostgreSQL manually.
  ## It is safe to keep it enabled, as if it detects no upgrade is needed, it exits immediately.
  #   postgres-autoupgrade:
  #     image: pgautoupgrade/pgautoupgrade:18-alpine
  #     hostname: pgsql-upg
  #     container_name: pgsql-upg
  #     network_mode: "none"
  #     restart: "no"
  #     environment:
  #       POSTGRES_DB: ${PGSQL_DATABASE}
  #       POSTGRES_USER: ${PGSQL_USER}
  #       POSTGRES_PASSWORD: ${PGSQL_PASSWORD}
  #       PGAUTO_ONESHOT: "yes"
  #     volumes:
  #       ## Example:
  #       ## - "/host/folder:/container/folder"
  #       - "/etc/localtime:/etc/localtime:ro" ## use local time from host
  #       - "/etc/timezone:/etc/timezone:ro"   ## use timezone from host
  #       - "${HOST_PHOTOVIEW_LOCATION}/database/postgres:/var/lib/postgresql" ## DO NOT REMOVE

  ## Comment out the `postgres` service if PHOTOVIEW_DATABASE_DRIVER is set to `mysql` or `sqlite` in the .env
  postgres:
    image: postgres:18-alpine
    hostname: photoview-pgsql
    container_name: photoview-pgsql
    restart: unless-stopped
    stop_grace_period: 5s
    ## Security options for some restricted systems
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    ## Uncomment the following 3 lines if you want to use the autoupgrade service
    #depends_on:
    #  postgres-autoupgrade:
    #    condition: service_completed_successfully
    networks:
      - api_db_net
    ## Comment the previous one and uncomment the following 3 lines if you want to access the database directly
    #  - ui_net
    # ports:
    #   - 5432:5432 ## host:container
    environment:
      POSTGRES_DB: ${PGSQL_DATABASE}
      POSTGRES_USER: ${PGSQL_USER}
      POSTGRES_PASSWORD: ${PGSQL_PASSWORD}
      ## See other optional variables in the https://hub.docker.com/_/postgres
    volumes:
      ## Example:
      ## - "/host/folder:/container/folder"
      - "/etc/localtime:/etc/localtime:ro" ## use local time from host
      - "/etc/timezone:/etc/timezone:ro" ## use timezone from host
      - "${HOST_PHOTOVIEW_LOCATION}/database/postgres:/var/lib/postgresql" ## DO NOT REMOVE
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 3m

networks:
  # Network for Frontend <-> Backend communication
  ui_net:
    driver: bridge

  # Network for Backend <-> DB communication (Internal only)
  api_db_net:
    internal: true
